*~
*.pyc
*.o
*.a
*.msh*
geo/*.txt
geo/*.pos
geo/*.lis*
MPIcommand.sh
GMSHcommand.sh
code/MoM/communicateMeshArrays
code/MoM/communicateZnearBlocks
code/MoM/mpi_mlfma
code/MoM/distribute_Z_cubes
code/MoM/RWGs_renumbering
code/MoM/scatter_mesh_per_cube
code/MoM/compute_Z_near
code/MoM/compute_SAI_precond
code/MoM/mesh_functions_seb
code/MoM/mesh_cubes
code/MoM/testMPI
diff.out
result/
tmp*
simuDir*
