*~
*.pyc
*.o
*.a
*.msh*
geo/*.txt
geo/*.pos
geo/*.lis*
MPIcommand.sh
GMSHcommand.sh
code/MoM/communicateMeshArrays
code/MoM/communicateZnearBlocks
code/MoM/mpi_mlfma
code/MoM/distribute_Z_cubes
code/MoM/mesh_functions_seb
diff.out
result/
tmp*

